In [1]:
# lambda function syntax 
# lambda is an anonomyns function i.e a function without name 
        
"""
# without using any condition
var = lambda par1,par2,paran  : expression 
"""

'\nvar = lambda par1,par2,paran  : expression \n        # if else problem using lambda \n        \n'

In [3]:
"""
Using if-else condition 
var = lambda par1,para2,paran : TSB if cond else FSB. 
"""

'\nUsing if-else condition \nvar = lambda par1,para2,paran : TSB if cond else FSB. \n'

In [5]:
# drawbacks of lambda functions 
# we can't use return keyword 
# we can't return multiple values 
# if you want then store in the form of tuple 
# we can't use the looping statements
# we can use comprehension 
# we cannot use compound assignment operator in lambda function

In [7]:
# by using comprehension 
"""
variableName = lambda par1,par2,par3,par n : comprehension 
"""

'\nvariableName = lambda par1,par2,par3,par n : comprehension \n'

In [22]:
# examples 
# wap to find square of even number and cube of odd given number 
number = int(input("Enter a Number")) 
even_odd = lambda num  : num ** 2 if num % 2 == 0 else num **3 
even_odd(number)

Enter a Number 2

4

In [32]:
l = [11,12,13,14]
even_num = lambda num:[i**2 if i % 2 == 0 else i ** 3 for i in num]
even_num(l)

[1331, 144, 2197, 196]

In [37]:
# wap to convert negative number to postive number 

number = int(input("Enter Any Number: "))
neg_to_pos = lambda num: abs(num) if num < 0 else num
print(neg_to_pos(number))

Enter Any Number:  -44

44

In [49]:
a = {"hello": "Sony" , "How" : "are" , "you" : "bye"}
result = lambda di:[di[i]for i in di]
print(result(a))

['Sony', 'are', 'bye']

In [55]:
# square all the number and return in the list format 
l = [2,12,13,14]
sq = lambda num:[i**2 for i in num]
sq(l)

[4, 144, 169, 196]

In [57]:
# wap to check list elements are palindrome or not 
# l = ["nayana" , "kayak" , "mom" , "school" , "bag" , "dad"]
l = ["nayana" , "kayak" , "mom" , "school" , "bag" , "dad"]
check = lambda num:[i for i in l if i == i[::-1]]
check(l)

['kayak', 'mom', 'dad']

In [61]:
# wap to print the numbers present in a list with their corresponding indices pair 
# l = [100,200,300,400,500]
l = [100,200,300,400,500]
indices = lambda num: [i for i in enumerate(l)]
indices(l)

[(0, 100), (1, 200), (2, 300), (3, 400), (4, 500)]

In [63]:
# map class 
# works on inbuilt function user defined function and lambda function 
# whenver we want to pass value one by one

# map(function_name , iteraable , iteraable.....)

In [79]:
# wap to create a list of first charcters fro each name 
# names = ["manu" , "lohit" , "jivago" , "wank" , "yaseen"]

names = ["manu" , "lohit" , "jivago" , "wank" , "yaseen"]
first_char = lambda word : word[0]
res = (map(first_char,names))
list(res)

['m', 'l', 'j', 'w', 'y']