Topics Covered
-------------------
- rename() 
- replace()
- astype()
- sort_values()
- sort_index()
- rank()

In [9]:
import pandas as pd

data = pd.DataFrame( {"Information" : ['python' , 'sql' , 'powerbi' , 'excel'] , 
                     "Duration" : ["3 month" , "1 month" , "2.5 month" , "5 month"]
                     })
print(data)

  Information   Duration
0      python    3 month
1         sql    1 month
2     powerbi  2.5 month
3       excel    5 month

In [19]:
# rename(col) -> if you want to change coln name we can go for rename()
# varName.rename(columns = {"oldName" : "newName"})
# change col information to INFO
data.rename(columns = {"Information" : "INFO"})

# we can change multiple columns as well 
data.rename(columns = {"Information" : "INFO" , "Duration" : "DUE"})

# i want to change row index
print(data.rename(index = {0:100,1:200,2:300}))

    Information   Duration
100      python    3 month
200         sql    1 month
300     powerbi  2.5 month
3         excel    5 month

In [45]:
# replace()
# in the place of python i want to replace PY
data["Information"] = data["Information"].replace("python" , 'py')
print(data)

print("-------------------")

# 
data["Information"] = data["Information"].replace({"Python" : "PY" , "sql" : "SQL" , "powerbi" : "BI" , "excel":"XLS"})
print(data)

-------------------
  Information   Duration
0          py    3 month
1         SQL    1 month
2          BI  2.5 month
3         XLS    5 month

In [69]:
# create a table [name age score] using DataFrame
sdata = pd.DataFrame({"name" : ["kunal" , "ram" , "raj" , "roy"] , 
                     "age":[20,24,31,22],
                      "score" : [100,40,20,40]
                      })
print(sdata)
print("-------------------------")
print(sdata.info())

    name  age  score
0  kunal   20    100
1    ram   24     40
2    raj   31     20
3    roy   22     40
-------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   age     4 non-null      int64
 2   score   4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes
None

In [79]:
# now i want to change age column data type 
# print(sdata["age"].astype(float))
# to change data type use astype()
print(sdata["age"].astype(bool))

0    True
1    True
2    True
3    True
Name: age, dtype: bool

In [95]:
# sort_values() - i want to sort the value in age column we can go for sort 
print(sdata.sort_values(by="age"))
print("---------------------------------")

print(sdata.sort_values(by="age" , ascending = False)) 
print("---------------------------------")
# sort score column
print(sdata.sort_values(by="score"))

    name  age  score
0  kunal   20    100
3    roy   22     40
1    ram   24     40
2    raj   31     20
---------------------------------
    name  age  score
2    raj   31     20
1    ram   24     40
3    roy   22     40
0  kunal   20    100
---------------------------------
    name  age  score
2    raj   31     20
1    ram   24     40
3    roy   22     40
0  kunal   20    100

In [109]:
# sort_index() 
print(sdata.sort_index(axis = 0)) # - > 0 means row
print("-------------------------------")
print(sdata.sort_index(axis = 1)) # 1 means column

    name  age  score
0  kunal   20    100
1    ram   24     40
2    raj   31     20
3    roy   22     40
-------------------------------
   age   name  score
0   20  kunal    100
1   24    ram     40
2   31    raj     20
3   22    roy     40

In [193]:
# rank() -> 
sample = pd.DataFrame({"name" : ["kunal" , "ram" , "raj" , "roy"] , 
                      "score" : [100,40,20,40]
                      })
# insert a new column named total without using insert and assign 
# sample["Total"] = 0 |default value 0
# sample["Total"] = sample["score"] + 10 || adding 10 and adding in total without using inset method and assing method 
# print(sample)
# rank() always start from 1 not 0
# rank(method = average)
# rank(method = min)
# rank(method = max)
# rank(method = dense)
# rank(method = )

sample["avg"] = sample["score"].rank(method = "average", ascending = True)
print(sample)

print("====================================")

sample["min"] = sample["score"].rank(method = "min", ascending = True)
print(sample)

print("====================================")

sample["max"] = sample["score"].rank(method = "max", ascending = True)
print(sample)

print("================================================")

sample["first"] = sample["score"].rank(method = "dense" , ascending = True)
print(sample)

    name  score  avg
0  kunal    100  4.0
1    ram     40  2.5
2    raj     20  1.0
3    roy     40  2.5
====================================
    name  score  avg  min
0  kunal    100  4.0  4.0
1    ram     40  2.5  2.0
2    raj     20  1.0  1.0
3    roy     40  2.5  2.0
====================================
    name  score  avg  min  max
0  kunal    100  4.0  4.0  4.0
1    ram     40  2.5  2.0  3.0
2    raj     20  1.0  1.0  1.0
3    roy     40  2.5  2.0  3.0
================================================
    name  score  avg  min  max  first
0  kunal    100  4.0  4.0  4.0    3.0
1    ram     40  2.5  2.0  3.0    2.0
2    raj     20  1.0  1.0  1.0    1.0
3    roy     40  2.5  2.0  3.0    2.0