Topics Covered:-
- groupby()

In [1]:
import pandas as pd

In [81]:
data = pd.DataFrame({"departmentName" : ["HR" , "SALES" , "CONTENT" , "MARKETING" , "IT" , "IT"] ,
                     "Emp_Name" : ["kunal" , "rohan" , "sanket" , "varad" , "ram" , "shyam"] , 
                     "Salary" : [100000,20000,30000,40000,4000,5000]})

In [32]:
data

  departmentName Emp_Name  Salary
0             HR    kunal  100000
1          SALES    rohan   20000
2        CONTENT   sanket   30000
3      MARKETING    varad   40000
4             IT      ram    4000
5             IT    shyam    5000

In [54]:
# directly groupby operation we get object address 
# mean()
res = data.groupby("departmentName")["Salary"].mean()
print(res)

departmentName
CONTENT       30000.0
HR           100000.0
IT             4500.0
MARKETING     40000.0
SALES         20000.0
Name: Salary, dtype: float64

In [56]:
# sum()
res = data.groupby("departmentName")["Salary"].sum()
print(res)

departmentName
CONTENT       30000
HR           100000
IT             9000
MARKETING     40000
SALES         20000
Name: Salary, dtype: int64

In [58]:
# count()
res = data.groupby("departmentName")["Salary"].count()
print(res)

departmentName
CONTENT      1
HR           1
IT           2
MARKETING    1
SALES        1
Name: Salary, dtype: int64

In [60]:
# min()
res = data.groupby("departmentName")["Salary"].min()
print(res)

departmentName
CONTENT       30000
HR           100000
IT             4000
MARKETING     40000
SALES         20000
Name: Salary, dtype: int64

In [62]:
# max()
res = data.groupby("departmentName")["Salary"].max()
print(res)

departmentName
CONTENT       30000
HR           100000
IT             5000
MARKETING     40000
SALES         20000
Name: Salary, dtype: int64

In [64]:
# first()
# in any department what is first number it will get printed
res = data.groupby("departmentName")["Salary"].first()
print(res)

departmentName
CONTENT       30000
HR           100000
IT             4000
MARKETING     40000
SALES         20000
Name: Salary, dtype: int64

In [66]:
# last()
# last nunber in particular dpearment will be printed
res = data.groupby("departmentName")["Salary"].last()
print(res)

departmentName
CONTENT       30000
HR           100000
IT             5000
MARKETING     40000
SALES         20000
Name: Salary, dtype: int64

In [68]:
# nunique()
res = data.groupby("departmentName")["Salary"].nunique()
print(res)

departmentName
CONTENT      1
HR           1
IT           2
MARKETING    1
SALES        1
Name: Salary, dtype: int64

In [90]:
# all operations at the time 
# agg()
res = data.groupby("departmentName")["Salary"].agg(["mean" , "sum" , "min" , "max" , "count" , "first" , "last" , "median" , "nunique"])
print(res)

                    mean     sum     min     max  count   first    last  \
departmentName
CONTENT          30000.0   30000   30000   30000      1   30000   30000
HR              100000.0  100000  100000  100000      1  100000  100000
IT                4500.0    9000    4000    5000      2    4000    5000
MARKETING        40000.0   40000   40000   40000      1   40000   40000
SALES            20000.0   20000   20000   20000      1   20000   20000

                  median  nunique
departmentName
CONTENT          30000.0        1
HR              100000.0        1
IT                4500.0        2
MARKETING        40000.0        1
SALES            20000.0        1