#### Pandas (DataFrame) - I
<pre>
- if you want to create multiple columns we go for dataframes
- DataFrame is inbuilt class
</pre>

<pre>
    syntax:-
    import pandas as pd
    newVar = pd.DataFrame(dict) # mantotory to pass dict.. 
    print(newVar)
</pre>

Topics Covered :
---------------------
- shape 
- size
- index
- columns
- dtypes
- values
- fetching single col | multiple col 
- head()
- tail()
- sample()
- info()
- describe() 
- describe() with include 
- iterrows()

In [15]:
# import library 
import pandas as pd

# generating data
student_name = ["Rahul" , "Rohit" , "Sony" , "Ram"]
total_marks = [33,75,24,90]
subject_name = ["Python" , "Excel" , "PowerBI" , "SQL"]

# all three variable want to store in one variable 
# {'student_name' : value} 
# in key pos with quotes | value can be without quotes

details = {"STUDENT": student_name , "SUBJECT" : subject_name , "TOTAL_MARKS" : total_marks}

sdata = pd.DataFrame(details)

print(sdata)

  STUDENT  SUBJECT  TOTAL_MARKS
0   Rahul   Python           33
1   Rohit    Excel           75
2    Sony  PowerBI           24
3     Ram      SQL           90

In [23]:
# OR
new_data = pd.DataFrame({"SN" : ["Rahul" , "Rohit" , "Sony" , "Ram"] , "SUB" : ["Python" , "Excel" , "PowerBI" , "SQL"]})
print(new_data)

      SN      SUB
0  Rahul   Python
1  Rohit    Excel
2   Sony  PowerBI
3    Ram      SQL

In [27]:
# practice table
company = pd.DataFrame({"emp_name" : ["rahul" , "rohit" , "rohan" , "varad"] , "salary" : [1000000,200000,460403,566030] , "location": ["Pune" , "Mumbai" , "Thane" , "Nagpur"]})
print(company)

  emp_name   salary location
0    rahul  1000000     Pune
1    rohit   200000   Mumbai
2    rohan   460403    Thane
3    varad   566030   Nagpur

In [32]:
# shape -> DataFrame (row , col)
print(sdata.shape) # output (4, 3)

(4, 3)

In [34]:
# total elements count will return 
print(sdata.size) # output 12

12

In [36]:
# index
print(sdata.index) # output : RangeIndex(start=0, stop=4, step=1)

RangeIndex(start=0, stop=4, step=1)

In [38]:
# print the columns 
print(sdata.columns) # output : Index(['STUDENT', 'SUBJECT', 'TOTAL_MARKS'], dtype='object')

Index(['STUDENT', 'SUBJECT', 'TOTAL_MARKS'], dtype='object')

In [44]:
# return the type of data for columns 
print(sdata.dtypes)

STUDENT        object
SUBJECT        object
TOTAL_MARKS     int64
dtype: object

In [46]:
# return the values in the list format (nested format) 
print(sdata.values)

[['Rahul' 'Python' 33]
 ['Rohit' 'Excel' 75]
 ['Sony' 'PowerBI' 24]
 ['Ram' 'SQL' 90]]

In [61]:
# i want to print a particular column 
print(sdata["STUDENT"])

0    Rahul
1    Rohit
2     Sony
3      Ram
Name: STUDENT, dtype: object

In [69]:
# if you want to fetch multiple col i.e student and total_marks
print(sdata[["STUDENT","TOTAL_MARKS"]])

  STUDENT  TOTAL_MARKS
0   Rahul           33
1   Rohit           75
2    Sony           24
3     Ram           90

In [71]:
# head() -> top to bottom
# tail() -> bottom to top
# sample() -> random
print(sdata.head())

  STUDENT  SUBJECT  TOTAL_MARKS
0   Rahul   Python           33
1   Rohit    Excel           75
2    Sony  PowerBI           24
3     Ram      SQL           90

In [73]:
# tail()
print(sdata.tail())

  STUDENT  SUBJECT  TOTAL_MARKS
0   Rahul   Python           33
1   Rohit    Excel           75
2    Sony  PowerBI           24
3     Ram      SQL           90

In [80]:
# sample()
print(sdata.sample())

  STUDENT  SUBJECT  TOTAL_MARKS
2    Sony  PowerBI           24

In [100]:
# describe() -> alwayhs pointing to number column
print(sdata.describe())
print("-----------------------------")
print("-----------------------------")
print(sdata.describe(include="object"))
print("-----------------------------")
print("-----------------------------")
print(sdata.describe(include="all"))

       TOTAL_MARKS
count     4.000000
mean     55.500000
std      31.984371
min      24.000000
25%      30.750000
50%      54.000000
75%      78.750000
max      90.000000
-----------------------------
-----------------------------
       STUDENT SUBJECT
count        4       4
unique       4       4
top      Rahul  Python
freq         1       1
-----------------------------
-----------------------------
       STUDENT SUBJECT  TOTAL_MARKS
count        4       4     4.000000
unique       4       4          NaN
top      Rahul  Python          NaN
freq         1       1          NaN
mean       NaN     NaN    55.500000
std        NaN     NaN    31.984371
min        NaN     NaN    24.000000
25%        NaN     NaN    30.750000
50%        NaN     NaN    54.000000
75%        NaN     NaN    78.750000
max        NaN     NaN    90.000000

In [90]:
# info()
print(sdata.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   STUDENT      4 non-null      object
 1   SUBJECT      4 non-null      object
 2   TOTAL_MARKS  4 non-null      int64
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes
None

In [110]:
# iterrows()
# each person data speartely 
# direclty use we will get object address
# we can use typecasting or looping 
print(list(sdata.iterrows()))

print("===========================")
print("===========================")

for i in sdata.iterrows():
    print(i)

[(0, STUDENT         Rahul
SUBJECT        Python
TOTAL_MARKS        33
Name: 0, dtype: object), (1, STUDENT        Rohit
SUBJECT        Excel
TOTAL_MARKS       75
Name: 1, dtype: object), (2, STUDENT           Sony
SUBJECT        PowerBI
TOTAL_MARKS         24
Name: 2, dtype: object), (3, STUDENT        Ram
SUBJECT        SQL
TOTAL_MARKS     90
Name: 3, dtype: object)]
===========================
===========================
(0, STUDENT         Rahul
SUBJECT        Python
TOTAL_MARKS        33
Name: 0, dtype: object)
(1, STUDENT        Rohit
SUBJECT        Excel
TOTAL_MARKS       75
Name: 1, dtype: object)
(2, STUDENT           Sony
SUBJECT        PowerBI
TOTAL_MARKS         24
Name: 2, dtype: object)
(3, STUDENT        Ram
SUBJECT        SQL
TOTAL_MARKS     90
Name: 3, dtype: object)