Topics Covered :
--------------------
- head()
- tail()
- sample()
- describe()
- info()
- sum()
- min() , max()
- hasnans
- dropna()
- fillna()
- replace()
- sort_values()
- sort_index()
- duplicated()
- drop_duplicates()
- accesing the pandas with slicing , indexing and nested list format
- drop() | del | pop()
- concat()

In [91]:
import pandas as pd

x = [1,2,3,4,5,6,7,8,9,0,1,2,None,3,5,6,7,8,90, None ]

data = pd.Series(x)
# top 5 rows
print(data.head())

print("=========================")

# customize rows
print(data.head(3))

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64
=========================
0    1.0
1    2.0
2    3.0
dtype: float64

In [93]:
# bottom 5 | last 5 rows first bottom then above that it will display
print(data.tail())
print("============================")
print(data.tail(1))

15     6.0
16     7.0
17     8.0
18    90.0
19     NaN
dtype: float64
============================
19   NaN
dtype: float64

In [95]:
# sample()
# randomly it will throw row 
# if you didnt mention it will thorw 1 row
# 
data.sample() # 1 row 

print("=======================")

data.sample(3) # 3 rows

=======================

16    7.0
1     2.0
17    8.0
dtype: float64

In [97]:
# stats data like count , mean , std , min , max etc.
data.describe()

count    18.000000
mean      9.277778
std      20.326180
min       0.000000
25%       2.250000
50%       5.000000
75%       7.000000
max      90.000000
dtype: float64

In [99]:
# information of column 
# col-name is mentioning
# range format it will be showing 
# how much memeory 
data.info()

<class 'pandas.core.series.Series'>
RangeIndex: 20 entries, 0 to 19
Series name: None
Non-Null Count  Dtype
--------------  -----
18 non-null     float64
dtypes: float64(1)
memory usage: 292.0 bytes

In [101]:
# sum of that list
print(data.sum())

167.0

In [103]:
print(f"min{  data.min()}")
print("------------")
print(f"max  { data.max()}")

min0.0
------------
max  90.0

In [105]:
# hasnas
# if you have empty space then -> False
# otherwise -> True
print(data.hasnans)

True

In [115]:
# remove the NaN values from the data / list 
print(data.dropna())

0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
5      6.0
6      7.0
7      8.0
8      9.0
9      0.0
10     1.0
11     2.0
13     3.0
14     5.0
15     6.0
16     7.0
17     8.0
18    90.0
dtype: float64

In [121]:
# now want to put some data on the blank values use fillna()
# i passed 33 for NaN value 
print(data.fillna(33))

0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
5      6.0
6      7.0
7      8.0
8      9.0
9      0.0
10     1.0
11     2.0
12    33.0
13     3.0
14     5.0
15     6.0
16     7.0
17     8.0
18    90.0
19    33.0
dtype: float64

In [125]:
# already you have created one column in place of particular we can replace with any value 
# replace() -> method oldVlaue - NewValue 
print(data.replace(9,10000))

0         1.0
1         2.0
2         3.0
3         4.0
4         5.0
5         6.0
6         7.0
7         8.0
8     10000.0
9         0.0
10        1.0
11        2.0
12        NaN
13        3.0
14        5.0
15        6.0
16        7.0
17        8.0
18       90.0
19        NaN
dtype: float64

In [135]:
# sort_values()
# sort_index()
print(data.sort_values())
print("====================")
print(data.sort_index())

9      0.0
0      1.0
10     1.0
1      2.0
11     2.0
2      3.0
13     3.0
3      4.0
4      5.0
14     5.0
5      6.0
15     6.0
6      7.0
16     7.0
7      8.0
17     8.0
8      9.0
18    90.0
12     NaN
19     NaN
dtype: float64
====================
0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
5      6.0
6      7.0
7      8.0
8      9.0
9      0.0
10     1.0
11     2.0
12     NaN
13     3.0
14     5.0
15     6.0
16     7.0
17     8.0
18    90.0
19     NaN
dtype: float64

In [149]:
print(data.duplicated()) # duplicat will show True | else False for non-duplicate | returns bool value

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11     True
12    False
13     True
14     True
15     True
16     True
17     True
18    False
19     True
dtype: bool

In [157]:
# want to remove duplicate value 
print(data.drop_duplicates())

0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
5      6.0
6      7.0
7      8.0
8      9.0
9      0.0
12     NaN
18    90.0
dtype: float64

In [179]:
print(data[1]) # indexing
print("-----------")
print(data[:4:1]) #slicing
print("-------------")
# thorugh indexing printing multiple data
print(data[[2,3]]) # use nested list

2.0
-----------
0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64
-------------
2    3.0
3    4.0
dtype: float64

In [209]:
# drop() | del | pop()
# print(data.drop([1,3,4,5]))
# print(data.pop(5))
# del data 
# del data[6]

In [213]:
z = [1,2,3,4,5,5,6,7]
data = pd.Series(z)

In [225]:
data[0] = 0
data[2] = 0
data[4] = 0

In [227]:
data

0    0
1    2
2    0
3    4
4    0
5    5
6    6
7    7
dtype: object

In [229]:
# data = pd.concat([d,y], ignore_index = True) # we can add mulitple rows (Yes)